.header {
  display: block;
  margin: auto;
  width: 260px;
  box-sizing: border-box; }

.header__title {
  color: #45852D;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px; }

.header__label {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.3px;
  color: #363636;
  padding-right: 10px; }

.header__filter {
  width: 210px;
  border: 1px solid #D8D8D8;
  box-sizing: border-box;
  border-radius: 25px;
  line-height: 25px; }

@media (min-width: 321px) {
  .header {
    width: 1181px; }
  .header__title {
    font-size: 36px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 36px;
    margin-bottom: 43px; }
  .header__label {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.3px; }
  .header__filter {
    width: 400px;
    line-height: 48px;
    font-size: 20px;
    margin-bottom: 45px;
    padding-left: 20px;
    padding-right: 20px; } }

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; }

.main {
  padding-bottom: 77px; }

.cards {
  list-style: none;
  padding-left: 0;
  padding-bottom: 60px; }

@media (min-width: 321px) {
  .cards {
    width: 1181px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto; } }

.card {
  width: 260px;
  background: #F8F8F8;
  border: 1px solid #D8D8D8;
  box-sizing: border-box;
  margin: auto;
  margin-bottom: 38px;
  padding-bottom: 10px; }

.card__link {
  display: block;
  cursor: pointer;
  text-decoration: none;
  color: #363636; }

.card__description {
  font-size: 13px;
  padding-left: 20px;
  padding-right: 20px; }

.card__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
  margin: 0;
  padding-top: 10px; }

.card__house-picture {
  width: 258px;
  height: auto; }

.card__description {
  position: relative; }

.card__description.card__description_independent::after {
  background-color: #006F79; }

.card__description.card__description_support::after {
  background-color: #EC6608; }

.card__description::after {
  position: absolute;
  content: "Independent living";
  display: block;
  width: 134px;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 6px;
  top: -36px;
  right: 0;
  color: #FFFFFF; }

.card__properties_price {
  font-weight: 700; }

.card__shared {
  margin-bottom: 0; }

@media (min-width: 321px) {
  .card {
    width: 379px;
    margin: 0;
    margin-bottom: 38px; }
  .card__house-picture {
    width: 377px; } }

.seemore {
  display: block;
  position: relative;
  text-decoration: none;
  width: 150px;
  border: 1px solid #D8D8D8;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 700;
  color: #363636;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 12px;
  padding-left: 30px; }

.seemore::after {
  position: absolute;
  display: block;
  content: url("../img/chevron.svg");
  width: 55px;
  height: 53px;
  top: 13px;
  right: -19px;
  z-index: 700; }
